/* Excel_usuario.css */

/* Contenedor principal */
.custom-container {
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  /* Estilo para el título */
  h2 {
    color: #4CAF50;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4rem;
  }
  
  /* Estilo para el input del archivo */
  .custom-input {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para el botón de subir */
  .custom-button {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  